<head>
  <link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">
</head>

<!-- Bannière du site -->
<h1> Bienvenue sur le site ultime de recherche de joueurs Steam </h1>
<h3> Crée ton profil de gamer et invite de supers coéquipiers à jouer grâce à un outil génial ! </h3>
<h3> Gère tes sessions de jeu et fait les connaître.</h3>

<br>

<div>
  <img src="assets/img/logo-gamer.jpg" style="max-height: 212px; max-width: 372px;" alt="logo_gamer">
  <img src="assets/img/steam-logo-black-transparent.png" style="max-height: 200px;"alt="logo_steam">
</div>

<br>

<div>
  <table>
    <tr>
      <th> Id</th>
      <th> Image du Jeu</th>
      <th> Nom du jeu</th>
      <th> Nombre de Joueurs Inscrits</th>
    </tr>
    <tr>
      <td> 10 </td>
      <td> <img src="https://steamcdn-a.akamaihd.net/steam/apps/10/header.jpg?t=1568751918" style="max-height: 100px;"> </td>
      <td> Counter-Strike </td>
      <td> 52 </td>
    </tr>
    <tr>
      <td> 440 </td>
      <td> <img src="https://steamcdn-a.akamaihd.net/steam/apps/440/header.jpg?t=1577610485" style="max-height: 100px;"> </td>
      <td> Team Fortress 2  </td>
      <td> 33 </td>
    </tr>


  </table>

</div>
