<h2>Ajout d'un joueur</h2>

<form [formGroup]="playerForm" (ngSubmit)="onSubmit(playerForm.value)" id="myForm">
  <div class="player-add-div">
    <div class="block">
      <label for="username">Username</label>
      <input id="username" type="text" formControlName="username" placeholder=' Entrer votre pseudo de joueur'>
    </div>
    <br>
    <button class="button" type="submit">Ajouter</button>
    &nbsp;
    <button class="button" type="reset">Reset</button>
  </div>
</form>
<!--<div class="center-div"><button class="button" value="Retour" Onclick="history.go(-1)">Retour</button></div>-->

<div class="center-div"><button class="button" value="Retour" Onclick="history.go(-1)">Retour</button></div>


