<h2>Profil de {{player.username}} :</h2>

<table>
  <caption>Liste des jeux de {{player.username}}</caption>
  <tbody>
  <tr *ngFor="let game of player.games, let gameId = index">
    <td>{{game.name}}</td>
    <td><img class="gameImageInTable" src="{{game.imageUrl}}"></td>
    <td><button (click)="updatePlayerProfile(gameId)">X</button>Supprimer le jeu</td> <!--# CSSS : Mettre la croix en gros et en rouge, le texte en dessous-->
  </tr>
  </tbody>
</table>

<div>Mes joueurs favoris :</div>
<!--<div *ngFor="let favorite of player.favorites">
  Boucle avec le favori : {{favorite.favoritePlayer}}
  {{getFavoritePlayerInformation(favorite.favoritePlayer)}}
  </div>-->
<!--<div>{{getFavoriteUsername()}}</div>-->

<div *ngFor="let favorite of favorites">
  {{favorite.username}}
</div>




