/*GLOBAL PAGE*/
body {
  background-color: darkgoldenrod;
}

#page {
  min-height: 94vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

/*TOP-BAR*/

app-top-bar {
  display: flex;
  width: 100%;
}

/*Login area*/
.login {
  width: 150px;
  height: 70px;
  padding: 20px 5px 20px 15px;
}

.login-btn {
  height: 50px;
  width: 100px;
  font-size: 20px;
  background-color: antiquewhite;
  border-radius: 10%;
}

.login-btn:hover {
  height: 52px;
  width: 102px;
  background-color: bisque;
}

.logo-zone {
  width: 100vw;
  height: 70px;
  text-align: center;
}

/*Logo area*/
.logo {
  text-decoration: none;
  color: black;
  font-style: oblique;
  text-shadow: 2px 2px grey;
}

/*Display under top-bar*/
.under-top-bar {
  flex-grow: 1;
  display: flex;
}

/*NAVBAR*/
/*Menu*/
.left-bar {
  display: flex;
  flex-direction: column;
  width: 300px;
}

/*CONTENT*/

main {
  background-color: white;
  border: solid black 3px;
  flex-grow: 1;
  height: 40vw;
  margin: 5px 0px 5px 15px;
  padding: 5px;
}

/*Affichage des tableaux du site*/
table {
  border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
  border: 1px solid black; /* auront une bordure de 1px */
  margin-left: auto;
  margin-right: auto;
}

td, th /* Toutes les cellules des tableaux... */
{
  border: 1px solid black; /* auront une bordure de 1px */
  color: black;
  text-align: center;
  background-color: white;
  padding: 4px 10px;
}

thead{
  font-weight: bold;
}

.img-table {
  width: 153px;
  height: 72px;
}

.img-game-session {
  width: 38px;
  height: 18px;
  margin-left: 5px;
}

.table-title {
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: large;
  text-align: center;
}

caption {
  margin-bottom: 10px;
  margin-top: 20px;
  font-weight: bold;
  font-size: large;
}

.btn {
  border-radius: 5px;
  font-weight: bold;
  min-height: 30px;
}

.btn:hover {
  background-color: grey;
}

.btn-session-block {
  margin-top: 15px;
  text-align: center;
}

.btn-session {
  width: 200px;
  height: 25px;
  margin: 0 10px;
}

.btn-favorite-action {
  color: red;
}

.btn-game-delete {
  height: 40px;
  width: 40px;
  color: red;
}

.btn-session-add {
  width: 100px;
  height: 25px;
  margin: 0 10px;
}

.btn-player-add {
  width: 100px;
  height: 25px;
  margin: 0 10px;
}

.no-content-msg {
  text-align: center;
  font-style: italic;
  margin-bottom: 15px;
}

/*FOOTER*/

.footer {
  height: 5vh;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: right;
  font-style: oblique;

}

.guigui-logo {
  padding-top: 15px;
  width: 20px;
  align-self: baseline;
  margin-left: 0.5vw;
}

/* Alignement Centre des div player-add, session-add*/
.center-div,.player-add-div,.session-add-div {
  text-align: center;
    margin: 0 auto;
    padding: 20px;
}

/* Bloc des formulaires player-add, session-add*/
div.block {
  display:grid;
  grid-template-columns: max-content max-content;
  grid-gap:5px;
}
div.block label { /* */
  text-align:right;
}
div.block label:after { content: ":"; }

/* Définition de l'espace des formulaires player-add, session-add*/
div.player-add-div
{
  margin: 0 auto;
  width: 440px;
  height: 60px;
  background-color: #ccc;
  padding: 20px;
}

div.session-add-div
{
  margin: 0 auto;
  width: 440px;
  height: 120px;
  background-color: #ccc;
  padding: 20px;
}
input {
  width: 300px;
}

/* Alignement Centre des titres des vues player-add, session-add*/
app-player-add h2, app-new-session h2 {
  text-align: center;
}

/* Test mise en forme button
.button {
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 4px;
  padding: 4px 12px;
  margin: 5px;
}

.button:hover {
  background-color: dimgrey;
  color: white;
}
 */
