/*GLOBAL PAGE*/
body{
  background-color: darkgoldenrod;
}
#page {
  min-height: 94vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

/*TOP-BAR*/

app-top-bar {
  display: flex;
  width: 100%;
}

/*Login area*/
.login {
  width: 150px;
  height: 70px;
  padding: 20px 5px 20px 15px;
}

.login-btn {
  height: 50px;
  width: 100px;
  font-size: 20px;
  background-color: antiquewhite;
  border-radius: 10%;
}

.login-btn:hover {
  height: 52px;
  width: 102px;
  background-color: bisque;
}

.logo-zone {
  width: 100vw;
  height: 70px;
  text-align: center;
}

/*Logo area*/
.logo {
  text-decoration: none;
  color: black;
  font-style: oblique;
  text-shadow: 2px 2px grey;
}

/*Display under top-bar*/
.under-top-bar {
  flex-grow: 1;
  display: flex;
}

/*NAVBAR*/
/*Menu*/
.left-bar {
  display: flex;
  flex-direction: column;
  width: 300px;
}

/*CONTENT*/

main {
  background-color: white;
  border: solid black 3px;
  flex-grow: 1;
  height: 40vw;
  margin: 5px 0px 5px 15px;
  padding: 5px;
}


/*FOOTER*/

.footer{
  height: 5vh;
}

.footer-content{
  display: flex;
  flex-direction: row;
  justify-content: right;
  font-style: oblique;

}

.guigui-logo{
  padding-top: 15px;
  width: 20px;
  align-self: baseline;
  margin-left: 0.5vw;
}
