/*GLOBAL PAGE*/
body {
  background-color: darkgoldenrod;
}

#page {
  min-height: 94vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

/*TOP-BAR*/

app-top-bar {
  display: flex;
  width: 100%;
}

/*Login area*/
.login {
  width: 150px;
  height: 70px;
  padding: 20px 5px 20px 15px;
}

.login-btn {
  height: 50px;
  width: 100px;
  font-size: 20px;
  background-color: antiquewhite;
  border-radius: 10%;
}

.login-btn:hover {
  height: 52px;
  width: 102px;
  background-color: bisque;
}

.logo-zone {
  width: 100vw;
  height: 70px;
  text-align: center;
}

/*Logo area*/
.logo {
  text-decoration: none;
  color: black;
  font-style: oblique;
  text-shadow: 2px 2px grey;
}

/*Display under top-bar*/
.under-top-bar {
  flex-grow: 1;
  display: flex;
}

/*NAVBAR*/
/*Menu*/
.left-bar {
  display: flex;
  flex-direction: column;
  width: 300px;
}

/*CONTENT*/

main {
  background-color: white;
  border: solid black 3px;
  flex-grow: 1;
  height: 40vw;
  margin: 5px 0px 5px 15px;
  padding: 5px;
}

/*Affichage des tableaux du site*/
table {
  border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
  border: 1px solid black; /* auront une bordure de 1px */
  margin-left: auto;
  margin-right: auto;
}

td, th /* Toutes les cellules des tableaux... */
{
  border: 1px solid black; /* auront une bordure de 1px */
  color: black;
  text-align: center;
  background-color: white;
  padding: 4px 10px;
}

.img-table {
  width: 153px;
  height: 72px;
}

.img-game-session {
  width: 38px;
  height: 18px;
  margin-left: 5px;
}

caption {
  margin-bottom: 10px;
  margin-top: 20px;
}

.btn-session {
  margin-top: 10px;
text-align: center;
}





/*FOOTER*/

.footer {
  height: 5vh;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: right;
  font-style: oblique;

}

.guigui-logo {
  padding-top: 15px;
  width: 20px;
  align-self: baseline;
  margin-left: 0.5vw;
}

/*Saya*/

.center-div,.player-add-div {
  text-align: center;
}

div.block {
  display:grid;
  grid-template-columns: max-content max-content;
  grid-gap:5px;
}
div.block label {
  text-align:right;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
div.block label:after { content: ":"; }

div.center-div
{
  margin: 0 auto;
  padding: 20px;
}

div.player-add-div
{
  margin: 0 auto;
  width: 400px;
  height: 60px;
  background-color: #ccc;
  padding: 20px;
}

input {
  width: 300px;
}

h1,h2 {
  text-align: center;
}

.button, .popup {
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 4px;
  padding: 4px 12px;
}

.button:hover {
  background-color: dimgrey;
  color: white;
}
